*{
  margin: 0;
  padding: 0;
}

.heading-wrapper {
  padding-top: 20vh;
  padding-bottom: 20vh;
  text-align: center;
  color: white;
  background-color: #111;
}

.heading-name {
  font-size: 6em;
}

.heading-about {
  font-size: 1.5em;
}

.about-me-wrapper {
  padding-left: 25vw;
  padding-right: 25vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.block-heading {
  font-size: 3em;
}

.about-me {
  font-size: 1.5em;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.about-me-list {
  font-size: .8em !important;
  padding-left: 1em;
}

.projects-wrapper {
  padding-left: 25vw;
  padding-right: 25vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #111;
  color: white;
}

.project {
  padding-bottom: 2vh;
  padding-top: 2vh;
  font-size: 1.5em;
}

.resume-wrapper {
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 25vw;
  padding-right: 25vw;
}

.download-button {
  background-color: #111;
  color: white;
  border: 1px solid #111;
  padding: 1em;
  margin-top: 2vh;
  border-radius: 3px;
  transition: 0.3s;
}

.download-button:hover {
  background-color: white;
  color: #111;
  border: 1px dashed #111;
}

.contact-wrapper {
  background-color: #111;
  color: white;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.contact-element {
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 1.25em;
}

.contact-element img {
  height: 1.25em;
  vertical-align: middle;
}